BasedOnStyle: google
BreakBeforeTernaryOperators: true
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
SortIncludes: true
Language: Cpp
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
BreakBeforeBinaryOperators: All
ColumnLimit: 80
AlignAfterOpenBracket: Align
Standard: Cpp11
IndentWidth: 4
BreakBeforeBraces: Stroustrup
IndentCaseLabels: false
